{% include 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="full-width"><a href="/"><b class="bi bi-arrow-left">Browse all events</b></a></div>
<event-card>
    <div class="card">
        <div class="card-title">
            <h4>{{event.cuisine.name}}</h4>
            <h4><i class="status">{{event.status}}</i></h4>
        </div>
        <div class="card-text">
            <div class="img-vert-container" style="max-height:35vh;">
                <img src=data:image;base64,{{b64(event.image)}} />
                <span>{{event.description}}</span>
            </div>
            <ul>
                <li>Price: <i>{{event.ticket_price}}</i></li>
                {% if current_user in event.attendees.all() %}
                <li>Oragniser's contact number:  <i>{{ event.host.contact_number }}</i></li>
                <li>Location: <i>{{ event.address }}</i></li>
                {% else %}
                <li>Location: <i>{{ event.coarse_location }}</i></li>
                {% endif %}
                <li>Time: <i>{{event.time}} </i></li>
                <li>Available tickets: <i>{{event.capacity - event.attendees.count()}}</i></li>
            </ul>
            {% if event.status == "Upcoming" and current_user.is_authenticated and event.host != current_user %}
            <form action="{{id_to_string(event.id)}}/book" method="POST">
                <label for="booking-amount">Amount:</label> <input type="number" id="booking-amount" name="amount"
                    value="1" min="1" max="{{event.capacity - event.attendees.count() }}"></input>
                <button type="submit" class="btn btn-primary">Book Event</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% if event.host == current_user and event.isActive %}
    <br />
    <a href="{{id_to_string(event.id)}}/update"><button class="btn btn-primary">Update</button></a>
    <span>
        <form action="/meal/{{id_to_string(event.id)}}/deactivate" method="post">
            <button class="btn btn-primary">Deactivate</button>
        </form>
    </span>
    {% endif %}
</event-card>
</div>

<hr />
<!--comment-->
<h2 class="full-width">Comments</h2>
<div class="row border-bottom">
    {% for comment in event.comments %}
    <div class="col-md-12">
        <b>{{comment.commenter.name}} <span class="ml-2 text-muted">{{comment.created_at}}</span></b>
        At <i>{{comment.creation_time.strftime("%Y-%m-%d %H:%M:%S")}}</i>
        <p>{{comment.content}}</p>
    </div>
    {% endfor %}
</div>
{% if current_user.is_authenticated %}
Create a comment:
<div style="width:80%;">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}

<footer class="footer">
    <div class="text-center py-2 bg-light">
        <span class="text-dark">Copyright &copy; 2022</span>
    </div>
</footer>
{% endblock %}