<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon.svg') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SocialEaters</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="se-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Homepage</a>
          </li>
          {% if cuisines != None %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-cuisines" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Cuisines
            </a>
            <ul class="dropdown-menu" aria-labelledby="nav-cuisines">
              <li><a class="dropdown-item" href="/">All</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% for cuisine in cuisines %}
              <li>
                <a href="{{cuisine.name}}" class="dropdown-item">{{cuisine.name}}</a>
              </li>
              {% endfor %}

            </ul>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-meals" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Meals
            </a>
            <ul class="dropdown-menu text-white" aria-labelledby="nav-meals">
              <!-- Check URL for creating Meal -->
              <li><a class="dropdown-item" href="{{url_for('meal.create')}}">Create Meal</a></li>
            </ul>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <span class="nav-link dropdown-toggle" id="nav-logout" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{current_user.name}}
            </span>
            <ul class="dropdown-menu" aria-labelledby="nav-logout">
              <li><a class="dropdown-item" href="/my_events">My events</a></li>
              <li><label for="logout-button" type="submit" class="dropdown-item"
                aria-labelledby="nav-logout">Logout</label></li>
            </ul>
            <form class="hidden" action="/logout" method="POST">
              <button id="logout-button" type="submit"></button>
            </form>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-meals" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="nav-meals">
              <li>
                <form class="p-2 col-md-12" action="/login" method="POST">
                  <div class="mb-2">
                    <label for="email" class="form-label">Username:</label>
                    <input type="email" class="form-control" id="username" name="username" placeholder="Chris Pham">
                  </div>
                  <div class="mb-2">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  </div>
                  <div class="mb-2 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                  </div>
                  <div class="mb-2">
                    No account? <a href="/register">Sign Up</a>
                  </div>
                  <div class="mb-2">
                    <div class="text-error">{% with messages = get_flashed_messages(category_filter=["login_error"]) %}
                      {% if messages %}
                      {{ messages[0] }}
                      {% endif %}
                      {% endwith %}
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" action="/search">
          <input name="query" class="form-control me-2" type="search" placeholder="Event Name ..." aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container pt-3 pb-3">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script>

  </script>
</body>

</html>