{% include "base.html" %}
{% block content %}
<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Add new event">
    <hover-button>+</hover-button>
</a>
<div class="row" style="margin-left: unset;margin-right: unset;">
    {% for cuisine in cuisines %}
    <event-card class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-title">
                <h4>{{ cruisine.name }}</h4>
                <h4><i class="status">{{ event.status }}</i></h4>
                <!--changed to event.status-->
            </div>
            <div class="card-text">
                <div class="img-vert-container">
                    <a href="#">
                        <img src="{{ event.image }}" />
                        <span>{{ event.description }}</span>
                    </a>
                    <div class="bi bi-chevron-down event-expand" type="button" data-bs-toggle="collapse"
                        data-bs-target="#event1" aria-expanded="false" aria-controls="event1">
                    </div>
                </div>
                <div class="collapse" id="event1">
                    <ul>
                        <li>Price: <i>{{ event.ticket_price }}</i></li>
                        <li>Location: <i>{{ event.capacity }}</i></li>
                        <li>DateTime: <i>{{ event.time }}</i></li>
                    </ul>
                </div>
            </div>
        </div>
    </event-card>
    {% endfor %}
</div>
{% endblock %}